Selector {Property:  value;}
html{ min-height:100%; cursor: url('cursor2.png'), pointer; background-image: url('');
background-size: 180%; background-position: center;background-color: mediumpurple;}
body {background-color: transparent; text-align: center;}

@font-face {
    font-family: "pixel";
    src: url('vt323-regular-webfont.woff2') format('woff2'),
         url('vt323-regular-webfont.woff') format('woff');
}
.logo {margin-top: 30px; margin-bottom: 12px;
}

nav {font-family: "pixel"; font-size: 35px;} 
nav a {color: #000; text-decoration: none; margin: -5px; padding-top: 0px;}
nav a:hover {
  cursor: url('cursor2.png'), pointer; text-decoration: ; text-shadow: #db00e3 1px 0 25px;
  color: white; background-color: darkcyan;
}
h1 {font-family: "pixel"; font-size: 35px; background-image: url('cursor2.png') repeat;}
}

.googsheet {margin: 50px;}

#Form-submit {font-family: pixel; font-size: 120%; background-color: white ;color: #422B69;
padding-left:  none;padding-right: none;padding-bottom: 50px; margin-top: 17px; border: solid white; transition:  0s 5s;}

#Form-submit:active {     
    background-color:yellow;
    border: solid yellow;
    color: pink;   
    transition: 0s; 
}


#Guestbook {font-family: pixel; font-size: 25px;}

#messagebox {border-width: 4px; border-color: #422b69; background-color: #000; font-family: pixel; color: #fff; font-size: 25px;}
#emailbox {border-width: 4px; border-color: #422b69; background-color: #000; font-family: pixel; color: #fff; font-size: 25px;}
#namebox {border-width: 4px; border-color: #422b69; background-color: #000; font-family: pixel; color: #fff; font-size: 25px;}

.g-recaptcha {display: flex; justify-content: center;}






















